.App {
  text-align: center;
  display: flex;
  min-height:100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-auth {
  background: white;
}
  
.App-unauth {
  background-image: linear-gradient(180deg, rgba(35, 86, 142), rgb(4, 50, 99));
}