.container {
    min-height: 100vh;
    width: 100%;
    display: inline-block;
    color: black;
    overflow-y: auto;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    margin-top: 9rem;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.right {
    width: 50%;
}

.user-input-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;
    align-items: center;
}

.user-input-container > div {
    text-align: left;
}

.select-route, .select-stop {
    font-family: Exo, sans-serif;
    font-size: 1rem;
    margin: 1rem 1rem;
}

.routes_display > table ,  th, td{
    width: 100%;
    border: 1px solid black;
}

.retrieved-at {
    text-align: left;
    margin: 1rem auto;
    font-weight: bold;
    min-height: 1.5rem;
}